{% extends 'home/base.html' %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">Submit Job</h1>
                <hr>
                <hr class="visible-xs">
                <form class="form-horizontal" action="{% url 'analyze:job-submit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class = "form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="delete" class="btn btn-success">Submit Job</button>
                        </div>
                    </div>         
                </form>
            </div>
        </div>
    </div>
{% endblock %}
