 {% extends 'home/base.html' %}

 {% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                 <strong><b>Welcome!</b></strong>
                </h2>
                <hr class="tagline-divider">
            </div>
        </div>
    </div>
    
    
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-xs-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide" style="width: 600px; height: 500px; margin: 0 auto">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="static/img/neuralnetwork.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="static/img/fmri.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="static/img/corr.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="static/img/reg.jpg" alt="">
                            </div>
                             <div class="item">
                                <img class="img-responsive img-full" src="static/img/cnr.jpg" alt="">
                            </div>  
                       </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small></small>
                    </h2>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="box">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <h2 class="intro-text text-center">
                     <strong><b>Unlock the mysteries of the brain, one connectome at a time!</b></strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs"> 
                    <p align="justify">The brain, while superficially elegant, is an ovewhelmingly complex device consisting of billions of microscopic cells firing in unique patterns to create what we observe as thought. Imaging techniques such as functional Magnetic Resonance Imaging (fMRI) allow us to see these activation patterns in real time at a fine spatial resolution. These images contain highly valuable information that can be leveraged to further our understanding of the brain.</p>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="box">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>The problem</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs"> 
                    <p align="justify">Processing these graphs is a complex and expensive procedure. The initial investment in a processing pipeline may require hundreds of hours of labor to establish, and even using existing open source cutting edge tools requires a background in computer science and computer vision just to get the software installed and functioning properly; coupled with the extensive sets of options for processing, researchers looking to enter the computational neuroscience field may simply be barred by the learning curve to get involved.</p>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="box">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>What is FNGS?</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs"> 
                    <p align="justify">The <i>Functional Neurodata Graphs Service</i> is a one-click pipeline that boasts a full suite of fMRI processing methods. It leverages cutting-edge open-source software with many novel algorithms, all combined in a simple-to-deploy docker container that functions on the cloud. The processing steps include template registration, nuisance correction, timeseries extraction, and much more. The pipeline outputs highly relevant connectome graphs along with quality assurance figures every step of the way.</p>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="box">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Motivation</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs"> 
                    <p align="justify">Through FNGS, we hope to lower the barrier to entry of computational neuroscience. Our user-friendly UI coupled with the integration of AWS cloud services into the pipeline enables researchers to process their brain scans with lightning fast efficiency on the click of a button. Our research into high-quality fMRI processing algorithms ensures that users will be able to trust the easy-to-understand qualitative and quantitative outputs they receive.</p>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="box">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Usage and instructions</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs"> 
                    <p align="justify">For detailed code documentation of the core pipeline, refer to the Docs tab. For detailed explanations of the processing methods employed in the pipeline, refer to the About tab. For instructions on how to use the service, see the link(s) below:</p>
                </div>
            </div>
        </div>

{% endblock %}
