{% extends 'home/base.html' %}

{% block body %}
	<div class="container-fluid">

		<div class="row">

        	<div class="box">
				<p align="center">Once your job status is SUCCEEDED, the outputs can be found in your S3 bucket, inside the specified BIDs directory root. Refer to the tutorials for more detailed instructions.</p>
				<div class="col-md-6 col-md-offset-3">
					<div class panel panel-default>
						<div class="panel-body">
							<div class="row">
	        					<div class="box">
									<h3 class="text-center">Query an existing job</h3>
									<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										{% if error_message %}
				                        	<p><strong>{{ error_message }}</strong></p>
				                    	{% endif %}
	        							{% include 'explore/form-template.html' %}
										<div class = "form-group">
											<div align="center">
												<button type="submit" class="btn btn-success">Submit Query</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					{% if messages %}
                			<ul style="list-style: none;">
                    			{% for message in messages %}
                    			<li>{{ message }}</li>  
                    			{% endfor %}
                			</ul>
                			{% endif %}												     
				</div>
			</div>
		</div>
	</div>
{% endblock %}
